@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

.new-webapp-container {
    width: 100vw;
    height: 85vh;
    background: #0056b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    box-sizing: border-box;
    color: white;
    position: relative;
    overflow: hidden;
    margin: 0;
    right: 40px;
}

.new-webapp-text-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.new-webapp-text-section p {
    font-family: Outfit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.new-webapp-button {
    background: #007bff;
    color: white;
    width: 139.65px;
    height: 42.5px;
    border-radius: 6px;
    padding: 11.25px 31px;
}

.new-webapp-button:hover {
    background: #00408a;
}

.new-webapp-image-section {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.new-webapp-main-image {
    width: 268px;
    height: 359px;
}

.new-webapp-behind-image {
    position: absolute;
    z-index: 0;
    width: 172px;
    height: 356px;
    top: 57px;
    left: 1025px;
}

.new-webapp-team {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.new-webapp-team-image {
    width: 872px;
    height: 379px;
    position: relative;
    left: 174px;
}

.new-heading {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 52.5px;
    letter-spacing: -0.02em;
}

.new-webapp-left-image {
    position: absolute;
    width: 120px;
    height: auto;
    left: 1150px;
    transform: translateY(-50%);
}

.new-webapp-left-image.new-top {
    top: 45%;
}

.new-webapp-left-image.new-middle {
    top: 50%;
}

.new-webapp-left-image.new-bottom {
    top: 55%;
}

.new-webapp-left-image img {
    width: 120px;
    height: auto;
    object-fit: contain;
}
