@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');


.consultations-container {
  text-align: center;
  padding: 40px 20px;

  top: 2259px;
  left: 108px;

  width: 1223.140869140625;
  height: 492;
  top: 2259px;
  left: 108px;
  gap: 46px;
}

.consultations-title {
  font-family: "outfit", sans-serif;
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 45px;
  width: 463;
  height: 45;
  gap: 1.5px;
}

.consultations-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1223.140869140625;
  height: 401;
  gap: 16px;
}

.consultation-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 365px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  height: '401px';
}

.consultation-image {
  width: 100%;
  height: 265px;
  display: block;
  border-radius: 0 0 10px 10px;

  width: 397.0469665527344;
  height: 401;
}

.consultation-content {
  padding: 15px;
}



.target-text {
 font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color:  #131313;
    position: relative;
    top: 1.5px;
    opacity: 69%;
    
}

.flag-icon {
  width: 23px;
  margin-right: 13px;
  vertical-align: middle;
}
